{{ partial "header.html" . }}

<script>
var toggleDisplay = function(element) {
    element.style.display = (element.style.display === 'none')?'block':'none';
};
var toggleNotes = function() {
    document.querySelectorAll('td.paragraph-notes').forEach(toggleDisplay);
}
</script>

<style>
.paragraph-notes {
    display: none;
}
</style>

<article class="post">
    <h1 class="title">{{ partial "translation-title.html" .Params }}</h1>

    <div class="meta">
      <ul>
{{ with .Params.translation.date }}
        <li>Translation date: {{ . }}</li>
{{ end }}
{{ with .Params.original.date }}
        <li>Date of original: {{ . }}</li>
{{ end }}
{{ with .Params.translation.source }}
        <li>Source (EN): {{ . }}</li>
{{ end }}
{{ with .Params.original.source }}
        <li>Source (JP): {{ . }}</li>
{{ end }}
{{ with .Params.translation.description }}
        <li>Description: {{ . }}</li>
{{ end }}
{{ with .Params.original.description }}
        <li>Description: {{ . }}</li>
{{ end }}
      </ul>
    </div>

    {{ with .Params.general_notes }}
    <div class="notes">
      <h2>TL notes</h2>
      <ul>
        {{ range . }}
        <li>{{ . }}</li>
        {{ end }}
      </ul>
    </div>
    {{ end }}

    <div class="translation-paragraphs">
      <button onclick="toggleNotes();">Show/hide notes</button>
      <table>
        <tr>
        {{ with .Params.original.content_title }}
            <th>{{ . }}</th>
        {{ else }}
            <th>タイトルがない</th>
        {{ end }}
        {{ with .Params.translation.content_title }}
            <th>{{ . }}</th>
        {{ else }}
            <th>no title</th>
        {{ end }}
        </tr>
        {{ range .Params.paragraphs }}
        <tr>
          <td>{{ .original | markdownify }}</td>
          <td>{{ .translation | markdownify }}</td>
          {{ with .notes }}<td class="paragraph-notes"><ul>{{ range . }}<li>{{ . | markdownify }}</li>{{ end }}</ul></td>{{ end }}
        </tr>
        {{ end }}
      </table>
    </div>
    <!-- TODO: remember {{ .Content }} exists and may actually be useful -->
    {{ partial "postfooter.html" . }}
</article>

{{ partial "footer.html" . }}
