<article class="post-preview">
  <header>
    <h2 class="title"><a href='{{ .Permalink }}'>{{ partial "translation-title.html" .Params }}</a></h2>
    <div class="post-image">
      <!-- TODO -->
    </div>
    <div class="meta">
      {{ .Params.translation.source }}・<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "Jan 2, 2006" }}</time>・{{ .Params.media }}
    </div>
    {{ partial "tags.html" . }}
  </header>

  <div class="summary">
    {{ .Params.translation.description }}
    <a href='{{ .Permalink }}' class="rmore">Read more...</a>
  </div>
</article>
